{% extends "projet2sdvBundle::layout.html.twig" %}



{% block contenu %}
	<div class="container">
		<h1> Bienvenue sur le site de la concession du Lion. Vous pouvez ici regarder nos véhicules et les acheter en ligne.</h1>
	</div>

{% endblock %}







