{% extends "projet2sdvBundle::layout.html.twig" %}

{% block contenu %}
	<div class="container text">
		Bienvenur sur votre espace Vendeur. Vous pouvez consulter les commandes, ainsi qu'ajouter ou modifier vos véhicules
	</div>
{% endblock %}

