{% extends "projet2sdvBundle::layout.html.twig" %}
{% block contenu %}
	<div class="container text">
		<h1> Concession du Lion</h1>
		Bienvenue sur notre site. Avant toutes choses, veuillez vous identifier.
	</div>

{% endblock %}

