<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="http://www.iut-bm.univ-fcomte.fr/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Concession</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  {% if app.user is defined and app.user is not null %}
        {% if app.user.hasRole('ROLE_ADMIN') %}
            {% include "projet2sdvBundle::nav_backOff.html.twig" %}
        {% else   %}
            {% include "projet2sdvBundle::nav_frontOff.html.twig" %}
        {% endif%}
  {% else %}
      {% include "projet2sdvBundle::nav_home.html.twig" %}
  {% endif%}
  {% for message in app.session.flashbag.get('Info') %}
    <p class="well">
      Information : {{ message }}
    </p>
  {% endfor %}


{% block contenu %}
    Site de vente projet S3 web IUT
{% endblock %}

  {% block fos_user_content %}
  {% endblock fos_user_content %}


  </body>
</html>

