<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="http://www.iut-bm.univ-fcomte.fr/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Concession</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  {% if app.user is defined and app.user is not null %}
        {% if app.user.hasRole('ROLE_ADMIN') %}
            {% include "projet2sdvBundle::nav_backOff.html.twig" %}
        {% else   %}
            {% include "projet2sdvBundle::nav_frontOff.html.twig" %}
        {% endif%}
  {% else %}
      {% include "projet2sdvBundle::nav_home.html.twig" %}
  {% endif%}



{% block contenu %}
    Site de vente projet S3 web IUT
{% endblock %}

  {% block fos_user_content %}
  {% endblock fos_user_content %}

<script src="{{ asset('assets/js/vendor/jquery.js') }}"></script>
<script src="{{ asset('assets/js/foundation.min.js') }}"></script>
<script>
  $(document).foundation();
</script>
  </body>
</html>

