{% extends "projet2sdvBundle::layout.html.twig" %}
{% block contenu %}
	<div class="container text">
		<p>
		Etes-vous sur de vouloir retirer "{{ produit.nom }}" de votre panier ?
		</p>
		<form action="{{ path('panier.remove', {'id': produit.id}) }}" method="post">
			<input type="submit" name="delete" value="Oui" class="btn btn-danger">
			<input type="submit" name="delete" value="Non" class="btn btn-success">
			{{ form_rest(form) }}
		</form>
	</div>
{% endblock %}