{% extends "projet2sdvBundle:backOff/Produit:add.html.twig" %}
{% block edit %}
<div class="text">
	<a href="{{ path('produit.show') }}"><span class="glyphicon glyphicon-chevron-left"></span>Retour</a>
</div>
	{{ parent() }}
{% endblock %}